body{
    background-image: url("Optimized-Alumni_Hall_(University_of_Pittsburgh)_-_IMG_1265.JPG");
    background-repeat: no-repeat;
    background-size: 1600px;
}
#table1{
    padding-top: 0px;
}
#table2{
    padding-top: 170px;
}
h1{
    padding-top: 10px;
}

